@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/background-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white !important;
}

.ubuntu {
  font-family: "Ubuntu" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.accordion {
  opacity: 0.95;
}

.prevnext {
  background: white !important;
}

.rickandmorty {
  width: 200px;
}